.grid_price{
    margin-bottom: 30px;
}
.grid_price .row_price{
    margin-bottom: 30px;
}
.grid_price .row_price .item{
    width: 270px;
    margin-left: 30px;
    float: left;
}
.grid_price .row_price .item:nth-child(3n+1){
    margin-left: 0;
}
.grid_price .row_price .item .i-images{
    margin-bottom: 20px;
}
.grid_price .row_price .item .i-images img{
    width: 100%;
}
.grid_price .row_price .item .i-title{
    font-size: 14px;
    line-height: 20px;
    height: 60px;
    overflow: hidden;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}
.grid_price .row_price .item .i-title a{
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
.grid_price .row_price .item .i-title a:hover{
    color:#ec008c;
}
.grid_price .row_price .item .i-link{
    border-top:1px solid #cdcece;
    border-bottom:1px solid #cdcece;
}
.grid_price .row_price .item .i-link .fl,
.grid_price .row_price .item .i-link .fr{
    width: 50%;
}
.grid_price .row_price .item .i-link .fr{
    border-left: 1px solid #cdcece;
}
.grid_price .row_price .item .i-link a{
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 10px 10px 40px;
    position: relative;
}
.grid_price .row_price .item .i-link a:hover{
    color:#ec008c;
}
.grid_price .row_price .item .i-link a:before{
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: "fontawesome";
    content: '';
    color:#ec008c;
    font-size: 20px;
}
.grid_price .row_price .item .i-link a.linkDetail:before{
    content: '\f105';
}
.grid_price .row_price .item .i-link a.linkDownload:before{
    content: '\f0ed';
}
.orther_priceList{
    margin-bottom: 30px;
}
.orther_priceList .divtitle{
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    color: #666666;
}
.slider_price{
    margin: 0 -15px;
}
.slider_price .item{
    margin: 0 15px;
}
.slider_price .item .i-images{
    margin-bottom: 20px;
}
.slider_price .item .i-images img{
    width: 100%;
}
.slider_price .item .i-title{
    font-size: 14px;
    line-height: 20px;
    height: 60px;
    overflow: hidden;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}
.slider_price .item .i-title a{
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
.slider_price .item .i-title a:hover{
    color:#ec008c;
}
.slider_price .item .i-link{
    border-top:1px solid #cdcece;
    border-bottom:1px solid #cdcece;
}
.slider_price .item .i-link .fl,
.slider_price .item .i-link .fr{
    width: 50%;
}
.slider_price .item .i-link .fr{
    border-left: 1px solid #cdcece;
}
.slider_price .item .i-link a{
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 10px 10px 40px;
    position: relative;
}
.slider_price .item .i-link a:hover{
    color:#ec008c;
}
.slider_price .item .i-link a:before{
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: "fontawesome";
    content: '';
    color:#ec008c;
    font-size: 20px;
}
.slider_price .item .i-link a.linkDetail:before{
    content: '\f105';
}
.slider_price .item .i-link a.linkDownload:before{
    content: '\f0ed';
}
.slider_price .slick-prev,.slider_price .slick-next{
    width: 45px;
    height: 45px;
    background: url(../images/nav-45-45.jpg) no-repeat 0 0;
    top:-50px;
}
.slider_price .slick-prev{
    background-position: 0 0;
    left: auto;
    right: 70px;
}
.slider_price .slick-next{
    background-position: -55px 0;
    right: 15px;
}
.the-content{
    margin-bottom: 40px;
}
.social_download{
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d5d5d5;
}
.linkSocial ul
{
	margin: 0;
	padding: 0;
}
.linkSocial ul:after{
    display: block;
    content: '';
    clear: both;
}
.linkSocial ul li{
    float: left;
    margin-right: 10px;
}
.linkDownload{
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 10px 10px 40px;
    position: relative;
}
.linkDownload:hover{
    color:#ec008c;
}
.linkDownload:before{
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: "fontawesome";
    content: '';
    color:#ec008c;
    font-size: 20px;
}
.linkDownload:before{
    content: '\f0ed';
}
