@model IPagedList<C.Core.Model.shSetSize>
@using MvcContrib.UI.Grid;
@using C.UI.PagedList;
@using C.UI.Helpers;
@using C.Membership.Helper;
@using C.QuanTri.Helper;
@using C.Core.Service;
@using C.DanhMuc.Helper;
@using C.Core.Common;

<div class="form-group" style="margin : 0px 0px 0px 0px; height: 400px; overflow-y: scroll;">

    @Html.Grid(Model).Columns(column =>
{
    column.For(m => Html.htmlCheckBox_DataToggle("cbxOne", m.SizeGuid, "Xem danh sách kích thước cấp dưới ")).Named(Html.htmlCheckBox("cbxOneList").ToString()).Attributes(style => "width:5%;text-align:center;");
    column.For(m => Html.OrderField(Model.PageNumber, Model.PageSize, Model.Count)).Named("STT").Attributes(style => "text-align:center;width:10%");
    column.For(m => Html.ChatLieu_KichThuoc_TenSection(m.SizeGuid, m.SizeName, m.Stuff, m.ParentId,m.SectionGuid)).Named("Kích thước - Chất liệu").Attributes(style => "width:40%");
    column.For(m =>Html.FormatDecimalToString(m.PriceCurrent)).Named("Giá ").Attributes(style => "width:30%", @class => "text-align-right");

    column.For(m => Html.IconUpdate_Delete(m.SizeGuid)).Named("Tác vụ").Attributes(style => "width:20%", @class => "text-align-center");
}).RenderUsing(new CustomHtmlTableGridRenderer<C.Core.Model.shSetSize>(Config.PAGE_SIZE_20)).Attributes(style => "width:100%").Empty("Chưa có dữ liệu")
</div>

<div class="form-group" style="margin : 0px 0px 0px 0px;">
    @Html.PagedListPager(Model, page => "javascript:changepage(" + page + ")", PagedListRenderOptions.ClassicCustomPage)
</div>

<script type="text/javascript">

    if ('@Model.Count' > 0)
    {
        $('.grid tbody tr').first().addClass('active');

        $('.grid tbody tr').on('click', function (e) {
            $('.grid tbody tr').removeClass('active');
            $(this).addClass('active');
        });
    }

    function changepage(page) {
        $("#loader").fadeIn(); 
        $.ajax({
            url: '@Url.Action("ListSize")',
            data: {
                page: page,
                ProductGuid: $('#ProductGuid').val(),
                SectionGuid: $('#SectionGuid').val(),
                SizeGuid: $('#SizeGuid').val()
            },
            type: "POST",
            dataType: "html",
            success: function (data, textStatus) {
                $('#dsSize').html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            },
            complete: function (data) {
                $("#loader").fadeOut();
            }
        });
    }

    $('input[name=cbxOne]').on('change', function (e) { 

        $('.tr-about').hide();
        $('input[name=cbxOne]').not(this).prop('checked', false);
        var tr_current = $(this).parent().parent('tr');
        if ($(this).is(":checked")) {
            if (tr_current.next('tr').hasClass('tr-about')) { // đã load dữ liệu
                $(tr_current).next('tr').show();
                $(tr_current).next('tr').children('td').children('div').slideDown({
                    progress: function () {

                    }
                });
            }
            else {  // Chưa có dữ liệu
                $.ajax({
                    url: '/DanhMuc/Section/DsChildSize',
                    data: { SizeGuid: $(this).val() },
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        $(tr_current).after(data);
                        $(tr_current).next('tr').slideDown();
                        $(tr_current).next('tr').children('td').children('div').slideDown();
                    },
                    error: function () {
                        $(tr_current).after(
                            "<tr class='tr-about' style='display:none;'><td colspan='5'> <span class='required'><b> Chưa có kích thước cấp dưới </b></span> </td> </tr>"
                        );
                        $(tr_current).next('tr').slideDown('slow');
                    }
                });
            }
        } else {
            $(tr_current).next('tr').children('td').children('div').slideUp({
                complete: function () {
                    $(tr_current).next('tr').hide();
                }
            });
        }
    });
</script>