USE [master]
GO
/****** Object:  Database [C.ShopOnline]    Script Date: 11/23/2018 10:37:06 PM ******/
CREATE DATABASE [C.ShopOnline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'C.ShopOnline', FILENAME = N'F:\DoAnTotNghiep\Documents\Database\C.ShopOnline.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'C.ShopOnline_log', FILENAME = N'F:\DoAnTotNghiep\Documents\Database\C.ShopOnline_log.ldf' , SIZE = 112320KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C.ShopOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C.ShopOnline]
GO
/****** Object:  Table [dbo].[landDistrict]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[landDistrict](
	[DistrictId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Type] [nvarchar](50) NULL,
	[ProvinceId] [int] NOT NULL,
	[SortOrder] [int] NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[landProvince]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[landProvince](
	[ProvinceId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Type] [nvarchar](20) NULL,
	[SortOrder] [int] NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[landQuanHuyen]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[landQuanHuyen](
	[ID_Quan] [int] NOT NULL,
	[TenQuan] [nvarchar](100) NULL,
	[ID_Tinh] [int] NOT NULL,
 CONSTRAINT [PK__QuanHuye__9BF5CD2D2A843F54] PRIMARY KEY CLUSTERED 
(
	[ID_Quan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[landTinhThanh]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[landTinhThanh](
	[ID_Tinh] [int] NOT NULL,
	[TenTinh] [nvarchar](100) NULL,
	[ID_KhuVuc] [int] NULL,
 CONSTRAINT [PK__TinhThan__D34E76D13F633CBA] PRIMARY KEY CLUSTERED 
(
	[ID_Tinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhieuNhap]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhieuNhap](
	[LoaiPhieuNhapId] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiPhieuNhap] [nvarchar](250) NULL,
	[LoaiPhieuNhapXuat] [int] NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_LoaiPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[LoaiPhieuNhapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qtDepartments]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qtDepartments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Phone] [nvarchar](250) NULL,
	[Fax] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[UnitId] [int] NULL,
	[SortOrder] [int] NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qtPositions]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qtPositions](
	[PositionId] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](250) NULL,
	[Code] [nvarchar](250) NULL,
	[SortOrder] [int] NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Positions] PRIMARY KEY CLUSTERED 
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qtRoles]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qtRoles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Application] [nvarchar](20) NULL,
	[RoleName] [nvarchar](250) NULL,
	[Description] [nvarchar](250) NULL,
	[ParentId] [int] NULL,
	[SortOrder] [int] NULL,
	[Status] [bit] NULL,
	[CreatedDete] [datetime] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qtSubstitute]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qtSubstitute](
	[SubstituteId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NULL,
	[AppName] [nvarchar](250) NULL,
	[AppCode] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Substitute] PRIMARY KEY CLUSTERED 
(
	[SubstituteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qtSubstituteDetail]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qtSubstituteDetail](
	[SubstituteDetailId] [int] IDENTITY(1,1) NOT NULL,
	[SubstituteId] [int] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_SubstituteDetail] PRIMARY KEY CLUSTERED 
(
	[SubstituteDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qtUnitManager]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qtUnitManager](
	[UnitManagerId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[UnitId] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_UnitManager] PRIMARY KEY CLUSTERED 
(
	[UnitManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qtUnits]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qtUnits](
	[UnitId] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](250) NULL,
	[UnitCode] [nvarchar](250) NULL,
	[ParentId] [int] NULL,
	[LevelCode] [nvarchar](50) NULL,
	[SortOrder] [int] NULL,
	[Email] [nvarchar](250) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qtUserConfig]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qtUserConfig](
	[UserConfigId] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NULL,
	[AppName] [nvarchar](250) NULL,
	[AppCode] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_qtUserConfig] PRIMARY KEY CLUSTERED 
(
	[UserConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qtUserConfigDetail]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qtUserConfigDetail](
	[UserConfigDetailId] [int] IDENTITY(1,1) NOT NULL,
	[UserConfigId] [int] NULL,
	[UserId] [int] NULL,
	[OrderBy] [int] NULL,
 CONSTRAINT [PK_qtUserConfigDetail] PRIMARY KEY CLUSTERED 
(
	[UserConfigDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qtUserRole]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qtUserRole](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[UnitId] [int] NULL,
	[DepartmentId] [int] NULL,
	[PositionId] [int] NULL,
	[Application] [nvarchar](250) NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qtUsers]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qtUsers](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserLogin] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[SortOrder] [int] NULL,
	[ImageFile] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Sex] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[Tel] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[IsAdmin] [bit] NULL,
	[Notes] [nvarchar](500) NULL,
	[UnitId] [int] NULL,
	[DepartmentId] [int] NULL,
	[PositionId] [int] NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shAboutus]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shAboutus](
	[AboutGuid] [nvarchar](50) NOT NULL,
	[AboutId] [int] IDENTITY(1,1) NOT NULL,
	[AboutTitle] [nvarchar](2000) NULL,
	[MetaTitle] [nvarchar](500) NULL,
	[AboutName] [nvarchar](4000) NULL,
	[AboutContent] [ntext] NULL,
	[Year] [int] NULL,
	[Sign] [ntext] NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[ParentId] [nvarchar](50) NULL,
	[SortOrder] [int] NULL,
	[UserId] [int] NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_AboutUs] PRIMARY KEY CLUSTERED 
(
	[AboutGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shAgent]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shAgent](
	[AgentGuid] [nvarchar](50) NOT NULL,
	[AgentId] [int] IDENTITY(1,1) NOT NULL,
	[AgentName] [nvarchar](250) NULL,
	[AgentAddress] [nvarchar](2000) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[Website] [nvarchar](250) NULL,
	[Url] [nvarchar](500) NULL,
	[ProvinceId] [int] NULL,
	[DistrictId] [int] NULL,
	[Longitude] [nvarchar](100) NULL,
	[Latitude] [nvarchar](100) NULL,
	[SortOrder] [int] NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_shAgent] PRIMARY KEY CLUSTERED 
(
	[AgentGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shBanner]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shBanner](
	[BannerGuid] [nvarchar](50) NOT NULL,
	[BannerId] [int] IDENTITY(1,1) NOT NULL,
	[BannerName] [nvarchar](500) NULL,
	[Url] [nvarchar](250) NULL,
	[PositionBanner] [int] NULL,
	[SortOrder] [int] NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_shBanner] PRIMARY KEY CLUSTERED 
(
	[BannerGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shCategory]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shCategory](
	[CategoryGuid] [nvarchar](50) NOT NULL,
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [nvarchar](50) NULL,
	[CategoryName] [nvarchar](250) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
	[SortOrder] [int] NULL,
	[SortOrderHighLight] [int] NULL,
	[TopHot] [bit] NULL,
	[FileName] [nvarchar](250) NULL,
	[UserId] [int] NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_shCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shCategoryImage]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shCategoryImage](
	[CategoryImageGuid] [nvarchar](50) NOT NULL,
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryGuid] [nvarchar](50) NULL,
	[FileName] [nvarchar](250) NULL,
	[FileNameGoc] [nvarchar](250) NULL,
	[Image] [nvarchar](50) NULL,
	[UserId] [int] NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_CategoryImage] PRIMARY KEY CLUSTERED 
(
	[CategoryImageGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shColor]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shColor](
	[ColorGuid] [nvarchar](50) NOT NULL,
	[ColorId] [int] IDENTITY(1,1) NOT NULL,
	[ColorName] [nvarchar](50) NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_shColor] PRIMARY KEY CLUSTERED 
(
	[ColorGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shComments]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shComments](
	[CommentGuid] [nvarchar](50) NOT NULL,
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[MemberGuiId] [nvarchar](50) NULL,
	[ProductGuid] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[MemberName] [nvarchar](500) NULL,
	[Rating] [int] NULL,
	[Contents] [nvarchar](4000) NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[LaDaXem] [bit] NULL,
 CONSTRAINT [PK_shComments] PRIMARY KEY CLUSTERED 
(
	[CommentGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shGoodReceiptIsuue]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shGoodReceiptIsuue](
	[ReceiptIsuueGuid] [nvarchar](50) NOT NULL,
	[ReceiptIssueId] [int] IDENTITY(1,1) NOT NULL,
	[Phieu] [int] NULL,
	[ReceiptIsuueName] [nvarchar](250) NULL,
	[SKU] [nvarchar](50) NULL,
	[MaKho] [int] NULL,
	[TenKho] [nvarchar](500) NULL,
	[LoaiPhieu] [int] NULL,
	[MaDonHang] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](2000) NULL,
	[UserId] [int] NULL,
	[TrangThai] [int] NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_shGoodReceiptIsuue] PRIMARY KEY CLUSTERED 
(
	[ReceiptIsuueGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shGoodReceiptIsuueDetail]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shGoodReceiptIsuueDetail](
	[ReceiptIsuueDetailGuid] [nvarchar](50) NOT NULL,
	[ReceiptIsuueDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptIsuueGuid] [nvarchar](50) NULL,
	[ProductGuid] [nvarchar](50) NULL,
	[SectionGuid] [nvarchar](50) NULL,
	[SizeGuid] [nvarchar](50) NULL,
	[Number] [int] NULL,
	[Phieu] [int] NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_shGoodReceiptIsuueDetail] PRIMARY KEY CLUSTERED 
(
	[ReceiptIsuueDetailGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shIdeaCustomer]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shIdeaCustomer](
	[IdeaGuid] [nvarchar](50) NOT NULL,
	[IdeaId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Contents] [nvarchar](2000) NULL,
	[Image] [nvarchar](500) NULL,
	[SortOrder] [int] NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_IdeaCustomer] PRIMARY KEY CLUSTERED 
(
	[IdeaGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shMembers]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shMembers](
	[MemberGuiId] [nvarchar](50) NOT NULL,
	[MemberId] [int] NOT NULL,
	[MemberName] [nvarchar](250) NULL,
	[MemberLogin] [nvarchar](250) NULL,
	[Password] [nvarchar](50) NULL,
	[ImageFile] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Sex] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[Tel] [nvarchar](50) NULL,
	[BirthDay] [datetime] NULL,
	[Phone] [nvarchar](50) NULL,
	[Notes] [nvarchar](500) NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[LaDaXem] [bit] NULL,
 CONSTRAINT [PK_shMembers] PRIMARY KEY CLUSTERED 
(
	[MemberGuiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shNews]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shNews](
	[NewGuiId] [nvarchar](50) NOT NULL,
	[NewId] [int] IDENTITY(1,1) NOT NULL,
	[TitleNew] [nvarchar](250) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[Descriptions] [nvarchar](4000) NULL,
	[ImageFile] [nvarchar](250) NULL,
	[Summary] [nvarchar](4000) NULL,
	[Contents] [ntext] NULL,
	[SortOrder] [int] NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_shNews] PRIMARY KEY CLUSTERED 
(
	[NewGuiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shOrder]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shOrder](
	[OrderGuid] [nvarchar](50) NOT NULL,
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderName] [nvarchar](1000) NULL,
	[MemberGuid] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[Total] [money] NULL,
	[OrderStatus] [int] NULL,
	[SortOrder] [int] NULL,
	[DistrictId] [int] NULL,
	[ProvinceId] [int] NULL,
	[FeeShip] [money] NULL,
	[PayType] [int] NULL,
	[NgayDat] [datetime] NULL,
	[LaDaXem] [bit] NULL,
	[UserId] [int] NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_shOrder] PRIMARY KEY CLUSTERED 
(
	[OrderGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shOrderDetail]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shOrderDetail](
	[OrderDetailGuid] [nvarchar](50) NOT NULL,
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDetailName] [nvarchar](50) NULL,
	[OrderGuid] [nvarchar](50) NULL,
	[MemberGuiId] [nvarchar](50) NULL,
	[ProductGuid] [nvarchar](50) NULL,
	[ProductName] [nvarchar](250) NULL,
	[SectionGuid] [nvarchar](50) NULL,
	[SizeGuid] [nvarchar](50) NULL,
	[Number] [int] NULL,
	[Prices] [money] NULL,
	[Total] [money] NULL,
	[PayType] [int] NULL,
	[SortOrder] [int] NULL,
	[NgayDat] [datetime] NULL,
	[UserId] [int] NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_shCartName] PRIMARY KEY CLUSTERED 
(
	[OrderDetailGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shOrderHistory]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shOrderHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderGuid] [nvarchar](50) NULL,
	[OrderStatus] [int] NULL,
	[Description] [nvarchar](2000) NULL,
	[MemberGuid] [nvarchar](50) NULL,
	[UserId] [int] NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_shOrderHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shPrices]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shPrices](
	[PriceGuid] [nvarchar](50) NOT NULL,
	[PriceId] [int] IDENTITY(1,1) NOT NULL,
	[ProductGuid] [nvarchar](50) NULL,
	[SectionGuid] [nvarchar](50) NULL,
	[SizeGuid] [nvarchar](50) NULL,
	[PriceName] [nvarchar](250) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[Money] [money] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_shPrices] PRIMARY KEY CLUSTERED 
(
	[PriceGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shProductImage]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shProductImage](
	[ProductImageGuid] [nvarchar](50) NOT NULL,
	[ProductImageId] [int] IDENTITY(1,1) NOT NULL,
	[ProductGuid] [nvarchar](50) NULL,
	[FileName] [nvarchar](250) NULL,
	[FileNameGoc] [nvarchar](250) NULL,
	[ProductImageCategory] [nvarchar](50) NULL,
	[Image] [nvarchar](50) NULL,
	[UserId] [int] NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_shProductImage] PRIMARY KEY CLUSTERED 
(
	[ProductImageGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shProducts]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shProducts](
	[ProductGuid] [nvarchar](50) NOT NULL,
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryGuid] [nvarchar](50) NULL,
	[CategoryName] [nvarchar](250) NULL,
	[ProductName] [nvarchar](250) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[Description] [nvarchar](2000) NULL,
	[Image] [nvarchar](250) NULL,
	[Details] [nvarchar](2000) NULL,
	[UserManual] [ntext] NULL,
	[CompleteSetInclude] [nvarchar](2000) NULL,
	[PriceCurrent] [money] NULL,
	[PercentCurrent] [int] NULL,
	[PriceAfterPercents] [money] NULL,
	[ViewsProduct] [int] NULL,
	[ProductStatus] [int] NULL,
	[TopHot] [bit] NULL,
	[SortOrder] [int] NULL,
	[Color] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[Number] [int] NULL,
	[Inventory] [int] NULL,
	[UserId] [int] NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_shProducts] PRIMARY KEY CLUSTERED 
(
	[ProductGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shProductSet]    Script Date: 11/23/2018 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shProductSet](
	[SectionGuid] [nvarchar](50) NOT NULL,
	[SectionId] [int] IDENTITY(1,1) NOT NULL,
	[ProductGuid] [nvarchar](50) NULL,
	[SectionName] [nvarchar](250) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[ParentId] [nvarchar](50) NULL,
	[SortOrder] [int] NULL,
	[Number] [int] NULL,
	[Inventory] [int] NULL,
	[ItemStatus] [int] NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_shSection] PRIMARY KEY CLUSTERED 
(
	[SectionGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shSale]    Script Date: 11/23/2018 10:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shSale](
	[SaleGuid] [nvarchar](50) NOT NULL,
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[SaleDetailGuid] [nvarchar](50) NULL,
	[SaleName] [nvarchar](500) NULL,
	[SaleCode] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[CachTinhGiaTriKhuyenMai] [int] NULL,
	[GiaTri] [nvarchar](500) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[DieuKienApDung] [int] NULL,
	[SaleStatus] [int] NULL,
	[UserId] [int] NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_shSale] PRIMARY KEY CLUSTERED 
(
	[SaleGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shSaleDetail]    Script Date: 11/23/2018 10:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shSaleDetail](
	[SaleDetailGuid] [nvarchar](50) NOT NULL,
	[SaleDetailId] [int] IDENTITY(1,1) NOT NULL,
	[SaleGuid] [nvarchar](50) NULL,
	[CachTinhGiaTriKhuyenMai] [int] NULL,
	[GiaTri] [nvarchar](500) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[DieuKienApDung] [int] NULL,
	[MaCauHinh] [nvarchar](50) NULL,
	[CategoryGuidProductGuid] [nvarchar](50) NULL,
	[CategoryGuid] [nvarchar](50) NULL,
	[ProductGuid] [nvarchar](50) NULL,
	[Percents] [int] NULL,
	[Description] [nvarchar](4000) NULL,
	[Notes] [nvarchar](4000) NULL,
	[PriceAfterPercents] [money] NULL,
	[SaleAttach] [nvarchar](250) NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_shSaleDetail_1] PRIMARY KEY CLUSTERED 
(
	[SaleDetailGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shSetSize]    Script Date: 11/23/2018 10:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shSetSize](
	[SizeGuid] [nvarchar](50) NOT NULL,
	[SizeId] [int] IDENTITY(1,1) NOT NULL,
	[ProductGuid] [nvarchar](50) NULL,
	[SectionGuid] [nvarchar](50) NULL,
	[SizeName] [nvarchar](50) NULL,
	[PriceCurrent] [money] NULL,
	[Stuff] [nvarchar](50) NULL,
	[ParentId] [nvarchar](50) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[Description] [nvarchar](250) NULL,
	[PercentCurrent] [int] NULL,
	[PriceAfterPercents] [money] NULL,
	[Number] [int] NULL,
	[Inventory] [int] NULL,
	[SizeStatus] [int] NULL,
	[SortOrder] [int] NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_shColor_Size] PRIMARY KEY CLUSTERED 
(
	[SizeGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shSex]    Script Date: 11/23/2018 10:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shSex](
	[SexGuid] [nvarchar](50) NOT NULL,
	[SexId] [int] IDENTITY(1,1) NOT NULL,
	[SexName] [nvarchar](25) NULL,
 CONSTRAINT [PK_shSex] PRIMARY KEY CLUSTERED 
(
	[SexGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 11/23/2018 10:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[ThongBaoId] [int] IDENTITY(1,1) NOT NULL,
	[NoiDungThongBao] [nvarchar](1000) NULL,
	[NoiDungCongViec] [nvarchar](1000) NULL,
	[LienKet] [nvarchar](1000) NULL,
	[OrderGuid] [nvarchar](50) NULL,
	[MaLoaiThongBao] [nvarchar](50) NULL,
	[NguoiThongBaoID] [int] NULL,
	[NguoiNhanThongBaoId] [int] NULL,
	[ThoiGian] [datetime] NULL,
	[DaXem] [bit] NULL,
	[GiaTri] [int] NULL,
 CONSTRAINT [PK_ThongBao] PRIMARY KEY CLUSTERED 
(
	[ThongBaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[landDistrict] ON 

INSERT [dbo].[landDistrict] ([DistrictId], [Name], [Type], [ProvinceId], [SortOrder]) VALUES (1, N'Ba Đình', N'Quận', 1, 1)
INSERT [dbo].[landDistrict] ([DistrictId], [Name], [Type], [ProvinceId], [SortOrder]) VALUES (2, N'Hoàn Kiếm', N'Quận', 1, 2)
INSERT [dbo].[landDistrict] ([DistrictId], [Name], [Type], [ProvinceId], [SortOrder]) VALUES (3, N'Tây Hồ', N'Quận', 1, 3)
GO
SET IDENTITY_INSERT [dbo].[landDistrict] OFF
SET IDENTITY_INSERT [dbo].[landProvince] ON 

INSERT [dbo].[landProvince] ([ProvinceId], [Name], [Type], [SortOrder]) VALUES (1, N'Hà Nội', N'Thành Phố', 24)
INSERT [dbo].[landProvince] ([ProvinceId], [Name], [Type], [SortOrder]) VALUES (2, N'Hà Giang', N'Tỉnh', 22)
INSERT [dbo].[landProvince] ([ProvinceId], [Name], [Type], [SortOrder]) VALUES (4, N'Cao Bằng', N'Tỉnh', 14)
SET IDENTITY_INSERT [dbo].[landProvince] OFF
INSERT [dbo].[landQuanHuyen] ([ID_Quan], [TenQuan], [ID_Tinh]) VALUES (10101, N'Quận Ba Đình', 101)
INSERT [dbo].[landQuanHuyen] ([ID_Quan], [TenQuan], [ID_Tinh]) VALUES (10103, N'Quận Tây Hồ', 101)
INSERT [dbo].[landQuanHuyen] ([ID_Quan], [TenQuan], [ID_Tinh]) VALUES (10105, N'Quận Hoàn Kiếm', 101)
GO
INSERT [dbo].[landTinhThanh] ([ID_Tinh], [TenTinh], [ID_KhuVuc]) VALUES (101, N'Hà Nội', 1)
INSERT [dbo].[landTinhThanh] ([ID_Tinh], [TenTinh], [ID_KhuVuc]) VALUES (103, N'Hải Phòng', 1)
INSERT [dbo].[landTinhThanh] ([ID_Tinh], [TenTinh], [ID_KhuVuc]) VALUES (107, N'Hải Dương', 1)
SET IDENTITY_INSERT [dbo].[LoaiPhieuNhap] ON 

INSERT [dbo].[LoaiPhieuNhap] ([LoaiPhieuNhapId], [TenLoaiPhieuNhap], [LoaiPhieuNhapXuat], [Status], [CreateDate]) VALUES (1, N'Mua hàng', 1, 1, CAST(N'2018-10-27T00:48:21.767' AS DateTime))
INSERT [dbo].[LoaiPhieuNhap] ([LoaiPhieuNhapId], [TenLoaiPhieuNhap], [LoaiPhieuNhapXuat], [Status], [CreateDate]) VALUES (2, N'Nhập trả', 1, 1, CAST(N'2018-10-27T00:48:28.753' AS DateTime))
INSERT [dbo].[LoaiPhieuNhap] ([LoaiPhieuNhapId], [TenLoaiPhieuNhap], [LoaiPhieuNhapXuat], [Status], [CreateDate]) VALUES (3, N'Khác', 1, 1, CAST(N'2018-10-27T00:48:37.717' AS DateTime))
SET IDENTITY_INSERT [dbo].[LoaiPhieuNhap] OFF
SET IDENTITY_INSERT [dbo].[qtDepartments] ON 

INSERT [dbo].[qtDepartments] ([DepartmentId], [DepartmentName], [Address], [Phone], [Fax], [Email], [UnitId], [SortOrder], [Status], [CreatedDate]) VALUES (1, N'Quản trị hệ thống', NULL, NULL, NULL, NULL, 1, 0, 1, CAST(N'2018-09-16T14:01:31.430' AS DateTime))
INSERT [dbo].[qtDepartments] ([DepartmentId], [DepartmentName], [Address], [Phone], [Fax], [Email], [UnitId], [SortOrder], [Status], [CreatedDate]) VALUES (2, N'Ban lãnh đạo Showroom', NULL, NULL, NULL, NULL, 2, 1, 1, CAST(N'2018-09-16T14:03:17.213' AS DateTime))
INSERT [dbo].[qtDepartments] ([DepartmentId], [DepartmentName], [Address], [Phone], [Fax], [Email], [UnitId], [SortOrder], [Status], [CreatedDate]) VALUES (3, N'Phòng Kinh Doanh', NULL, NULL, NULL, NULL, 2, 2, 1, CAST(N'2018-09-16T14:08:23.553' AS DateTime))
SET IDENTITY_INSERT [dbo].[qtDepartments] OFF
SET IDENTITY_INSERT [dbo].[qtPositions] ON 

INSERT [dbo].[qtPositions] ([PositionId], [PositionName], [Code], [SortOrder], [Status], [CreateDate]) VALUES (1, N'Quản trị phần mềm', N'QTHT', NULL, 1, CAST(N'2018-09-16T13:49:12.270' AS DateTime))
INSERT [dbo].[qtPositions] ([PositionId], [PositionName], [Code], [SortOrder], [Status], [CreateDate]) VALUES (2, N'Giám Đốc', N'GD', NULL, 1, CAST(N'2018-09-16T13:50:01.497' AS DateTime))
INSERT [dbo].[qtPositions] ([PositionId], [PositionName], [Code], [SortOrder], [Status], [CreateDate]) VALUES (3, N'Phó Giám Đốc', N'PGD', NULL, 1, CAST(N'2018-09-16T13:50:12.163' AS DateTime))
SET IDENTITY_INSERT [dbo].[qtPositions] OFF
SET IDENTITY_INSERT [dbo].[qtRoles] ON 

INSERT [dbo].[qtRoles] ([RoleId], [Application], [RoleName], [Description], [ParentId], [SortOrder], [Status], [CreatedDete]) VALUES (18, N'QTHT', N'Quản trị người dùng', N'QUAN_TRI_NGUOI_DUNG', 0, 0, 1, CAST(N'2018-11-04T20:54:40.747' AS DateTime))
INSERT [dbo].[qtRoles] ([RoleId], [Application], [RoleName], [Description], [ParentId], [SortOrder], [Status], [CreatedDete]) VALUES (19, N'QTHT', N'Danh sách người dùng', N'QUAN_TRI_NGUOI_DUNG', 18, 1, 1, CAST(N'2018-11-04T20:57:45.590' AS DateTime))
INSERT [dbo].[qtRoles] ([RoleId], [Application], [RoleName], [Description], [ParentId], [SortOrder], [Status], [CreatedDete]) VALUES (20, N'QTHT', N'Danh mục đơn vị', N'DANH_MUC_DON_VI', 18, 2, 1, CAST(N'2018-11-04T20:57:51.360' AS DateTime))
SET IDENTITY_INSERT [dbo].[qtRoles] OFF
SET IDENTITY_INSERT [dbo].[qtUnitManager] ON 

INSERT [dbo].[qtUnitManager] ([UnitManagerId], [UserId], [UnitId], [Active]) VALUES (1, 2, 2, 1)
SET IDENTITY_INSERT [dbo].[qtUnitManager] OFF
SET IDENTITY_INSERT [dbo].[qtUnits] ON 

INSERT [dbo].[qtUnits] ([UnitId], [UnitName], [UnitCode], [ParentId], [LevelCode], [SortOrder], [Email], [PhoneNumber], [Status], [CreatedDate]) VALUES (1, N'Công ty chăn ga gối đệm Everpia', N'EVERPIA', NULL, N'CONG_TY', 0, NULL, NULL, 1, CAST(N'2018-09-16T13:49:12.270' AS DateTime))
INSERT [dbo].[qtUnits] ([UnitId], [UnitName], [UnitCode], [ParentId], [LevelCode], [SortOrder], [Email], [PhoneNumber], [Status], [CreatedDate]) VALUES (2, N'Chi nhánh Showroom', N'CNSHOWHROOM', 1, N'CHI_NHANH', 1, NULL, NULL, 1, CAST(N'2018-09-16T13:53:25.020' AS DateTime))
INSERT [dbo].[qtUnits] ([UnitId], [UnitName], [UnitCode], [ParentId], [LevelCode], [SortOrder], [Email], [PhoneNumber], [Status], [CreatedDate]) VALUES (6, N'Chi nhánh Nam Hà Nội', N'CNHANOI', 1, N'CHI_NHANH', 2, NULL, NULL, 1, CAST(N'2018-10-26T23:08:07.017' AS DateTime))
SET IDENTITY_INSERT [dbo].[qtUnits] OFF
SET IDENTITY_INSERT [dbo].[qtUserConfig] ON 

INSERT [dbo].[qtUserConfig] ([UserConfigId], [UnitId], [AppName], [AppCode], [IsActive]) VALUES (1, 2, N'Lãnh Đạo Đơn Vị', N'LANH_DAO_DON_VI', 1)
INSERT [dbo].[qtUserConfig] ([UserConfigId], [UnitId], [AppName], [AppCode], [IsActive]) VALUES (2, 2, N'Cấu Hình Tài Khoản Nhận Email, Thông Báo Tiếp Nhận Đơn Hàng', N'TAI_KHOAN_EMAIL_THONG_BAO_TIEP_NHAN_DON_HANG', 1)
INSERT [dbo].[qtUserConfig] ([UserConfigId], [UnitId], [AppName], [AppCode], [IsActive]) VALUES (3, 2, N'Danh sách tài khoản nhận đơn hàng ( random)', N'TAI_KHOAN_NHAN_DON_HANG', 1)
SET IDENTITY_INSERT [dbo].[qtUserConfig] OFF
SET IDENTITY_INSERT [dbo].[qtUserConfigDetail] ON 

INSERT [dbo].[qtUserConfigDetail] ([UserConfigDetailId], [UserConfigId], [UserId], [OrderBy]) VALUES (6, 1, 2, 1)
INSERT [dbo].[qtUserConfigDetail] ([UserConfigDetailId], [UserConfigId], [UserId], [OrderBy]) VALUES (11, 2, 2, 1)
INSERT [dbo].[qtUserConfigDetail] ([UserConfigDetailId], [UserConfigId], [UserId], [OrderBy]) VALUES (12, 3, 3, 1)
SET IDENTITY_INSERT [dbo].[qtUserConfigDetail] OFF
SET IDENTITY_INSERT [dbo].[qtUserRole] ON 

INSERT [dbo].[qtUserRole] ([UserRoleId], [RoleId], [UnitId], [DepartmentId], [PositionId], [Application], [Status], [CreatedDate]) VALUES (1, 18, 2, 2, 4, NULL, NULL, NULL)
INSERT [dbo].[qtUserRole] ([UserRoleId], [RoleId], [UnitId], [DepartmentId], [PositionId], [Application], [Status], [CreatedDate]) VALUES (2, 19, 2, 2, 4, NULL, NULL, NULL)
INSERT [dbo].[qtUserRole] ([UserRoleId], [RoleId], [UnitId], [DepartmentId], [PositionId], [Application], [Status], [CreatedDate]) VALUES (3, 20, 2, 2, 4, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[qtUserRole] OFF
SET IDENTITY_INSERT [dbo].[qtUsers] ON 

INSERT [dbo].[qtUsers] ([UserId], [UserName], [UserLogin], [Password], [SortOrder], [ImageFile], [Address], [Sex], [Email], [Tel], [Phone], [IsAdmin], [Notes], [UnitId], [DepartmentId], [PositionId], [Status], [CreatedDate]) VALUES (1, N'Quản trị', N'administrator', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', 1, NULL, N' ', 1, N'nghinv00@gmail.com', N' ', N' ', 1, N' ', 1, 1, 1, 0, CAST(N'2018-09-16T14:15:52.063' AS DateTime))
INSERT [dbo].[qtUsers] ([UserId], [UserName], [UserLogin], [Password], [SortOrder], [ImageFile], [Address], [Sex], [Email], [Tel], [Phone], [IsAdmin], [Notes], [UnitId], [DepartmentId], [PositionId], [Status], [CreatedDate]) VALUES (2, N'Nguyễn Văn Nghi', N'nghinv', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', 2, NULL, N' ', 1, N'nghinv00@gmail.com', N'', N' ', 0, N' ', 2, 2, 4, 1, CAST(N'2018-11-04T21:43:36.837' AS DateTime))
INSERT [dbo].[qtUsers] ([UserId], [UserName], [UserLogin], [Password], [SortOrder], [ImageFile], [Address], [Sex], [Email], [Tel], [Phone], [IsAdmin], [Notes], [UnitId], [DepartmentId], [PositionId], [Status], [CreatedDate]) VALUES (3, N'Nguyễn Thị Bình', N'binhnt', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', 3, NULL, N' ', 1, N'nghinv00@gmail.com', N'', N' ', 0, N' ', 2, 5, 6, 1, CAST(N'2018-11-04T21:44:12.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[qtUsers] OFF
SET IDENTITY_INSERT [dbo].[shAboutus] ON 

INSERT [dbo].[shAboutus] ([AboutGuid], [AboutId], [AboutTitle], [MetaTitle], [AboutName], [AboutContent], [Year], [Sign], [ImageUrl], [ParentId], [SortOrder], [UserId], [Status], [CreateDate]) VALUES (N'1db4d7a7dded4fa7b886ee86d4eebe49', 9, N'SƠ ĐỒ TỔ CHỨC', N'/gioi-thieu/so-do-to-chuc', N'', N'', NULL, N'', N'', N'', NULL, NULL, 1, CAST(N'2018-10-18T22:36:58.407' AS DateTime))
SET IDENTITY_INSERT [dbo].[shAboutus] OFF
SET IDENTITY_INSERT [dbo].[shAgent] ON 

INSERT [dbo].[shAgent] ([AgentGuid], [AgentId], [AgentName], [AgentAddress], [Phone], [Email], [Website], [Url], [ProvinceId], [DistrictId], [Longitude], [Latitude], [SortOrder], [Status], [CreatedDate]) VALUES (N'105d5e183b724f15b689b1f4d98f8757', 1, N'Đại lý Thuận Phát', N'256 đường 30-4, P.Linh Khánh, Ninh Kiều, Cần Thơ', N'0918 145 966', N'nghinv@gmail.com', N'/', N'/SongHongVn/vnt_upload/dealer/thumbs/180_CongtyCPMaySongHong_Logo1.jpg', 1, 1, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[shAgent] ([AgentGuid], [AgentId], [AgentName], [AgentAddress], [Phone], [Email], [Website], [Url], [ProvinceId], [DistrictId], [Longitude], [Latitude], [SortOrder], [Status], [CreatedDate]) VALUES (N'2052fc3d0b514ff3ba6968ae39b202ad', 2, N'Showroom Mục Loan', N'97B, Nguyễn Trãi, Tp. Đông Hà, Quảng Trị', N'0905330564', N'nghinv@gmail.com', N'/', N'/SongHongVn/vnt_upload/dealer/thumbs/180_CongtyCPMaySongHong_Logo1.jpg', 1, 1, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[shAgent] ([AgentGuid], [AgentId], [AgentName], [AgentAddress], [Phone], [Email], [Website], [Url], [ProvinceId], [DistrictId], [Longitude], [Latitude], [SortOrder], [Status], [CreatedDate]) VALUES (N'374a867f8033425e83daeba41fcc36c2', 3, N'Showroom Hùng Thoa', N'520 Quang Trung, TX. Ba Đồn, Tỉnh Quảng Bình', N'0232 3 512 985 / 0912 157 517', N'nghinv@gmail.com', N'/', N'/SongHongVn/vnt_upload/dealer/thumbs/180_CongtyCPMaySongHong_Logo1.jpg', 1, 1, NULL, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[shAgent] OFF
SET IDENTITY_INSERT [dbo].[shBanner] ON 

INSERT [dbo].[shBanner] ([BannerGuid], [BannerId], [BannerName], [Url], [PositionBanner], [SortOrder], [Status], [CreatedDate]) VALUES (N'1376569556144e2491ae99e42cc87f1a', 8, N'Banner Bảng giá', N'/images/banner/10_2018/12cc8fc54357409c98d40525ecb8944fbanner1.jpg', 4, NULL, 1, CAST(N'2018-10-18T23:08:20.843' AS DateTime))
INSERT [dbo].[shBanner] ([BannerGuid], [BannerId], [BannerName], [Url], [PositionBanner], [SortOrder], [Status], [CreatedDate]) VALUES (N'14b13f07241e433fa8f0430249c6bee4', 6, N'Banner Sản Phẩm', N'/images/banner/10_2018/000ee59fe7ca4a83bbd31d315f506777banner1.jpg', 2, NULL, 1, CAST(N'2018-10-18T15:04:52.007' AS DateTime))
INSERT [dbo].[shBanner] ([BannerGuid], [BannerId], [BannerName], [Url], [PositionBanner], [SortOrder], [Status], [CreatedDate]) VALUES (N'26ce21f9ab764efe9a14636b97811b75', 7, N'Banner Đại lý', N'/images/banner/10_2018/c55c9933f5924c02907054b2cdabd9fecong_ty_may_song_hong_banner_gioi_thieu_02.jpg', 3, NULL, 1, CAST(N'2018-10-18T23:01:11.840' AS DateTime))
SET IDENTITY_INSERT [dbo].[shBanner] OFF
SET IDENTITY_INSERT [dbo].[shCategory] ON 

SET IDENTITY_INSERT [dbo].[shCategory] OFF
SET IDENTITY_INSERT [dbo].[shCategoryImage] ON 

INSERT [dbo].[shCategoryImage] ([CategoryImageGuid], [CategoryId], [CategoryGuid], [FileName], [FileNameGoc], [Image], [UserId], [Status], [CreateDate]) VALUES (N'01c205aa1e3847bdbe9194cade4d2780', 65, N'81252833f40d4367981f0782a4faf2d1', N'/images/product/10_2018/thumbs/25ac8130183b4d27b7643566a23dad85570_fm_fmax_fw_fh_zmax_ruot_chan_ruot_goi_1.jpg', NULL, NULL, 1, 1, CAST(N'2018-10-11T01:31:44.867' AS DateTime))
INSERT [dbo].[shCategoryImage] ([CategoryImageGuid], [CategoryId], [CategoryGuid], [FileName], [FileNameGoc], [Image], [UserId], [Status], [CreateDate]) VALUES (N'01cfe9f6d8cd40c8b714ff5a6e53050e', 52, N'8944a763d1834b1b8e09e05d58c9df4a', N'/images/product/10_2018/thumbs/d5a57bd6486b41238908042e88d348e8(570x306)_banner-sp-ngoai-trang-chu-dem-bong-tinh-khiet-th2.jpg', NULL, NULL, 1, 1, CAST(N'2018-10-10T13:02:51.057' AS DateTime))
INSERT [dbo].[shCategoryImage] ([CategoryImageGuid], [CategoryId], [CategoryGuid], [FileName], [FileNameGoc], [Image], [UserId], [Status], [CreateDate]) VALUES (N'039c4689616949f78f8f5e1868c3e10f', 18, N'ebf90a4171884c778b7126fe31372d23', N'/images/product/10_2018/3c7709c4d7fc4ca9b76b99ebc733e16bdem-bong-active.png', NULL, N'IconActive', 1, 1, CAST(N'2018-10-10T02:07:32.010' AS DateTime))
SET IDENTITY_INSERT [dbo].[shCategoryImage] OFF
SET IDENTITY_INSERT [dbo].[shComments] ON 

INSERT [dbo].[shComments] ([CommentGuid], [CommentId], [MemberGuiId], [ProductGuid], [Email], [MemberName], [Rating], [Contents], [Status], [CreatedDate], [LaDaXem]) VALUES (N'105d5e183b724f15b689b1f4d98f8757', 3, NULL, N'4c52c9d3ae164a2fa85aae61ef18929e', N'nguyenha@gmail.com', N'Nguyen Ha', NULL, N'De nghi shop bao gia mat hang nay qua email lien he', 1, CAST(N'2018-10-11T20:27:37.240' AS DateTime), NULL)
INSERT [dbo].[shComments] ([CommentGuid], [CommentId], [MemberGuiId], [ProductGuid], [Email], [MemberName], [Rating], [Contents], [Status], [CreatedDate], [LaDaXem]) VALUES (N'39cbe82baaff4f8fb397d9692c34d2ec', 17, NULL, N'4c52c9d3ae164a2fa85aae61ef18929e', N'nghinv@gmail.com', N'Thanh Ha', 0, N'Post Comment San Pham Dem Bong Tinh Khiet The He Thu 3', 0, CAST(N'2018-10-11T23:31:06.097' AS DateTime), NULL)
INSERT [dbo].[shComments] ([CommentGuid], [CommentId], [MemberGuiId], [ProductGuid], [Email], [MemberName], [Rating], [Contents], [Status], [CreatedDate], [LaDaXem]) VALUES (N'3aef2f23490c41a28f5bf3c6074d1647', 15, NULL, N'4c52c9d3ae164a2fa85aae61ef18929e', N'nguyenan@gmail.com', N'nguyen an ', NULL, N'GHI', 0, CAST(N'2018-10-11T20:30:41.020' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[shComments] OFF
SET IDENTITY_INSERT [dbo].[shGoodReceiptIsuue] ON 

INSERT [dbo].[shGoodReceiptIsuue] ([ReceiptIsuueGuid], [ReceiptIssueId], [Phieu], [ReceiptIsuueName], [SKU], [MaKho], [TenKho], [LoaiPhieu], [MaDonHang], [GhiChu], [UserId], [TrangThai], [Status], [CreateDate]) VALUES (N'131ac90925314639b76795faf639a88f', 1013, 1, N'Chi-nhanh-Showroom-06-11-2018', NULL, 2, N'Chi nhánh Showroom', 1, NULL, N'Nhập Bộ chăn ga gối hello kitty sh_d18 020 với 21 đơn vị sản phẩm ', 2, 3, 1, CAST(N'2018-11-06T01:26:42.803' AS DateTime))
INSERT [dbo].[shGoodReceiptIsuue] ([ReceiptIsuueGuid], [ReceiptIssueId], [Phieu], [ReceiptIsuueName], [SKU], [MaKho], [TenKho], [LoaiPhieu], [MaDonHang], [GhiChu], [UserId], [TrangThai], [Status], [CreateDate]) VALUES (N'18731a102a914569802d5cb1d83b52bf', 1011, 1, N'Chi-nhanh-Showroom-06-11-2018', NULL, 2, N'Chi nhánh Showroom', 1, NULL, N'Nhập lô hàng Ruột gối với số lượng 20 đơn vi sản phẩm', 2, 3, 1, CAST(N'2018-11-06T01:15:54.877' AS DateTime))
INSERT [dbo].[shGoodReceiptIsuue] ([ReceiptIsuueGuid], [ReceiptIssueId], [Phieu], [ReceiptIsuueName], [SKU], [MaKho], [TenKho], [LoaiPhieu], [MaDonHang], [GhiChu], [UserId], [TrangThai], [Status], [CreateDate]) VALUES (N'244384b2b1af4c188e378491847b8919', 1019, 2, N'Chi-nhanh-Showroom-07-11-2018', NULL, 2, N'Chi nhánh Showroom', 4, N'e71fa38de681499d9cc633c95ca05dfa', N'Chuyển hàng tới khách hàng ', 3, 3, 1, CAST(N'2018-11-07T01:02:14.447' AS DateTime))
SET IDENTITY_INSERT [dbo].[shGoodReceiptIsuue] OFF
SET IDENTITY_INSERT [dbo].[shGoodReceiptIsuueDetail] ON 

INSERT [dbo].[shGoodReceiptIsuueDetail] ([ReceiptIsuueDetailGuid], [ReceiptIsuueDetailId], [ReceiptIsuueGuid], [ProductGuid], [SectionGuid], [SizeGuid], [Number], [Phieu], [Status], [CreateDate]) VALUES (N'016094d8ac8f48ab8473d5937a1db130', 1067, N'590b199ab1674dbaa079699d1c7168a7', N'4c52c9d3ae164a2fa85aae61ef18929e', N'591cdf63f6a44c21865a4b3cdaf58f48', N'053b180d9e86448f9e627acdc31da6fa', 7, 1, 1, CAST(N'2018-11-06T00:57:52.977' AS DateTime))
INSERT [dbo].[shGoodReceiptIsuueDetail] ([ReceiptIsuueDetailGuid], [ReceiptIsuueDetailId], [ReceiptIsuueGuid], [ProductGuid], [SectionGuid], [SizeGuid], [Number], [Phieu], [Status], [CreateDate]) VALUES (N'061a1dc802514ff88b2c8004de098a5a', 1034, N'5d2997aafa1340f99b2628614c899d62', N'ef92dca418f149a9a8fa95543ecdc7f0', N'97b9fa4265eb4356804e0ad2a3de35db', N'0bdac7da12dc43899948f0825d984116', 12, 1, 1, CAST(N'2018-11-06T00:09:01.787' AS DateTime))
INSERT [dbo].[shGoodReceiptIsuueDetail] ([ReceiptIsuueDetailGuid], [ReceiptIsuueDetailId], [ReceiptIsuueGuid], [ProductGuid], [SectionGuid], [SizeGuid], [Number], [Phieu], [Status], [CreateDate]) VALUES (N'09f4ab5b58194847b7ea0e8754110a2a', 1076, N'293146e5a6be40f9a927012da30f449f', N'bcaf655eb6a34736b99add7c80b457f4', N'd2bf0e9e11004a9fba4160f0d4c7f110', N'de7e6dc772394d008f1dfde302ef11f5', 15, 1, 1, CAST(N'2018-11-06T01:14:48.340' AS DateTime))
SET IDENTITY_INSERT [dbo].[shGoodReceiptIsuueDetail] OFF
SET IDENTITY_INSERT [dbo].[shIdeaCustomer] ON 

INSERT [dbo].[shIdeaCustomer] ([IdeaGuid], [IdeaId], [Name], [Contents], [Image], [SortOrder], [Status], [CreateDate]) VALUES (N'1376569556144e2491ae99e42cc87f1a', 1, N'Chị Hoàng Minh Thảo', N'Hài Lòng', N'/images/product/10_2018/ea2bc07c466347549f6446da00830422126_fm_fmax_fw_fh_zmax_crop_img_feel1_2.jpg', 1, 1, CAST(N'2018-10-19T00:56:23.413' AS DateTime))
INSERT [dbo].[shIdeaCustomer] ([IdeaGuid], [IdeaId], [Name], [Contents], [Image], [SortOrder], [Status], [CreateDate]) VALUES (N'14b13f07241e433fa8f0430249c6bee4', 2, N'Anh : Phạm Văn Hoàng', N'Mùa cưới năm nay mình đã tin tưởng lựa chọn sản phẩm Chăn ga gối của Sông Hồng', N'/images/product/10_2018/8cc4f5b159734ee39e6dfb24e44546ae126_fm_fmax_fw_fh_zmax_crop_img_feel2.jpg', 2, 1, CAST(N'2018-10-19T00:56:28.913' AS DateTime))
INSERT [dbo].[shIdeaCustomer] ([IdeaGuid], [IdeaId], [Name], [Contents], [Image], [SortOrder], [Status], [CreateDate]) VALUES (N'26ce21f9ab764efe9a14636b97811b75', 3, N'Chị : Nguyễn Minh Trang', N'Dịch vụ và sản phẩm của SongHong rất tốt và thoải mái khi sử dụng
', N'/images/product/10_2018/092a66ede4aa4ffb83cb9da719753c69126_fm_fmax_fw_fh_zmax_crop_img_feel3.jpg', 3, 1, CAST(N'2018-10-19T00:56:33.370' AS DateTime))
SET IDENTITY_INSERT [dbo].[shIdeaCustomer] OFF
INSERT [dbo].[shMembers] ([MemberGuiId], [MemberId], [MemberName], [MemberLogin], [Password], [ImageFile], [Address], [Sex], [Email], [Tel], [BirthDay], [Phone], [Notes], [Status], [CreateDate], [LaDaXem]) VALUES (N'06965b34d4d44f2fba922cd073e47d6e', 10000, N'Nguyễn Văn An', N'14', N'01-33-9A-79-16-5F-8F-F2-3A-91-67-65-5C-EA-61-1E', N'/images/product/10_2018/9042ee607276427e901659a70833f32ccathy_tran_2.jpg', N'Hà Nội', 2, N'nghinv00@gmail.com', NULL, NULL, N'0123456789111', N'', 1, CAST(N'2018-10-21T16:22:34.157' AS DateTime), NULL)
INSERT [dbo].[shMembers] ([MemberGuiId], [MemberId], [MemberName], [MemberLogin], [Password], [ImageFile], [Address], [Sex], [Email], [Tel], [BirthDay], [Phone], [Notes], [Status], [CreateDate], [LaDaXem]) VALUES (N'06feadad17a64fbc8e8a5334edcf938d', 10001, N'Cathy Trần', N'13', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', N'', N'', 2, N'nghinv00@gmail.com', NULL, NULL, N'0123456789', N'', 1, CAST(N'2018-10-13T22:46:23.447' AS DateTime), NULL)
INSERT [dbo].[shMembers] ([MemberGuiId], [MemberId], [MemberName], [MemberLogin], [Password], [ImageFile], [Address], [Sex], [Email], [Tel], [BirthDay], [Phone], [Notes], [Status], [CreateDate], [LaDaXem]) VALUES (N'282c6293dd15456aa611a5ff512d6ce4', 10002, N'Nguyễn Văn An', N'12', N'01-33-9A-79-16-5F-8F-F2-3A-91-67-65-5C-EA-61-1E', N'/images/product/10_2018/9042ee607276427e901659a70833f32ccathy_tran_2.jpg', N'Hà Nội', 2, N'nghinv00@gmail.com', NULL, NULL, N'0123456789111', N'', 1, CAST(N'2018-10-21T16:26:16.050' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[shNews] ON 

SET IDENTITY_INSERT [dbo].[shNews] OFF
SET IDENTITY_INSERT [dbo].[shOrder] ON 

INSERT [dbo].[shOrder] ([OrderGuid], [OrderId], [OrderName], [MemberGuid], [FullName], [Email], [Phone], [Address], [Total], [OrderStatus], [SortOrder], [DistrictId], [ProvinceId], [FeeShip], [PayType], [NgayDat], [LaDaXem], [UserId], [Status], [CreateDate]) VALUES (N'0f1119d66acb4359b67703db016bb3c5', 1040, NULL, N'', N'Test 4', N'', N'0123456789', N'Thanh Xuân', 3060000.0000, 4, NULL, NULL, NULL, 0.0000, 1, CAST(N'2018-11-23T22:12:43.250' AS DateTime), NULL, 4, 1, CAST(N'2018-11-23T22:12:43.247' AS DateTime))
INSERT [dbo].[shOrder] ([OrderGuid], [OrderId], [OrderName], [MemberGuid], [FullName], [Email], [Phone], [Address], [Total], [OrderStatus], [SortOrder], [DistrictId], [ProvinceId], [FeeShip], [PayType], [NgayDat], [LaDaXem], [UserId], [Status], [CreateDate]) VALUES (N'20fbbbea543c4bd4813a80be2e6622ea', 1020, N'', N'dbd85204822640859d1f18a59c2c1652', N'Nguyễn Mạnh Hùng', N'', N'0123456789', N'Thanh Xuân', 4338000.0000, 9, NULL, NULL, NULL, 0.0000, 1, CAST(N'2018-11-06T02:40:21.597' AS DateTime), NULL, 3, 1, CAST(N'2018-11-06T02:40:21.597' AS DateTime))
INSERT [dbo].[shOrder] ([OrderGuid], [OrderId], [OrderName], [MemberGuid], [FullName], [Email], [Phone], [Address], [Total], [OrderStatus], [SortOrder], [DistrictId], [ProvinceId], [FeeShip], [PayType], [NgayDat], [LaDaXem], [UserId], [Status], [CreateDate]) VALUES (N'220afae6dfd742d5baec0ef6b98f3fdb', 1018, NULL, N'dbd85204822640859d1f18a59c2c1652', N'Lê Thị Hoa', N'', N'0123456789', N'Thanh Xuân', 216000.0000, 7, NULL, NULL, NULL, 50000.0000, 1, CAST(N'2018-11-06T02:22:57.257' AS DateTime), NULL, 4, 1, CAST(N'2018-11-06T02:22:57.257' AS DateTime))
SET IDENTITY_INSERT [dbo].[shOrder] OFF
SET IDENTITY_INSERT [dbo].[shOrderDetail] ON 

SET IDENTITY_INSERT [dbo].[shOrderDetail] OFF
SET IDENTITY_INSERT [dbo].[shOrderHistory] ON 

INSERT [dbo].[shOrderHistory] ([Id], [OrderGuid], [OrderStatus], [Description], [MemberGuid], [UserId], [Status], [CreateDate]) VALUES (1027, N'e71fa38de681499d9cc633c95ca05dfa', 4, N'Đặt hàng', N'dbd85204822640859d1f18a59c2c1652', NULL, 1, CAST(N'2018-11-05T14:51:57.703' AS DateTime))
INSERT [dbo].[shOrderHistory] ([Id], [OrderGuid], [OrderStatus], [Description], [MemberGuid], [UserId], [Status], [CreateDate]) VALUES (1028, N'b49e56ec9ea74b7582939610c3f6158b', 4, N'Đặt hàng', N'dbd85204822640859d1f18a59c2c1652', NULL, 1, CAST(N'2018-11-05T20:34:35.487' AS DateTime))
INSERT [dbo].[shOrderHistory] ([Id], [OrderGuid], [OrderStatus], [Description], [MemberGuid], [UserId], [Status], [CreateDate]) VALUES (1029, N'908169341361470b823695c00762e7a6', 4, N'Đặt hàng', N'dbd85204822640859d1f18a59c2c1652', NULL, 1, CAST(N'2018-11-05T20:56:29.170' AS DateTime))
SET IDENTITY_INSERT [dbo].[shOrderHistory] OFF
SET IDENTITY_INSERT [dbo].[shProductImage] ON 

INSERT [dbo].[shProductImage] ([ProductImageGuid], [ProductImageId], [ProductGuid], [FileName], [FileNameGoc], [ProductImageCategory], [Image], [UserId], [Status], [CreateDate]) VALUES (N'038d13148ff141d3ba246d2bdc3f7747', 36, N'4c52c9d3ae164a2fa85aae61ef18929e', N'/Images/product/10_2018/thumbs/1abac3ca930a4cbaae7f230d0ad5817014.1.jpg', N'14.1.jpg', N'ChatLieu', NULL, 1, 1, CAST(N'2018-10-06T15:39:07.107' AS DateTime))
INSERT [dbo].[shProductImage] ([ProductImageGuid], [ProductImageId], [ProductGuid], [FileName], [FileNameGoc], [ProductImageCategory], [Image], [UserId], [Status], [CreateDate]) VALUES (N'053016fd0c5145d6a21223a052e193e3', 40, N'2052fc3d0b514ff3ba6968ae39b202ad', N'/images/product/10_2018/649fc23326e74a2792327cdc4c58947a420_h17051.jpg', N'420_H17051.jpg', N'MauMa', NULL, 1, 1, CAST(N'2018-10-07T10:35:38.263' AS DateTime))
INSERT [dbo].[shProductImage] ([ProductImageGuid], [ProductImageId], [ProductGuid], [FileName], [FileNameGoc], [ProductImageCategory], [Image], [UserId], [Status], [CreateDate]) VALUES (N'103b84e660094b5b9c1761435c2c5b16', 50, N'bcaf655eb6a34736b99add7c80b457f4', N'/images/product/10_2018/390be4fa323e4ce49f7a19c7f0e59cc0420_17_c15_025_copy_1_1.jpg', N'420_17_C15_025_copy_1_1.jpg', N'MauMa', NULL, 1, 1, CAST(N'2018-10-07T21:26:24.500' AS DateTime))
SET IDENTITY_INSERT [dbo].[shProductImage] OFF
SET IDENTITY_INSERT [dbo].[shProducts] ON 

SET IDENTITY_INSERT [dbo].[shProducts] OFF
SET IDENTITY_INSERT [dbo].[shProductSet] ON 

INSERT [dbo].[shProductSet] ([SectionGuid], [SectionId], [ProductGuid], [SectionName], [MetaTitle], [ParentId], [SortOrder], [Number], [Inventory], [ItemStatus], [Status], [CreateDate]) VALUES (N'0478168d6b5c43c1bf3569c062804b29', 89, N'd986ac16835a4d62baf61dc2ee45c645', N'Vỏ gối đơn (Set C)', N'/vo-goi-don-set-c-', N'7de53a0800004f9aa8c5bddc7e6ccbf5', 1, NULL, NULL, NULL, 1, CAST(N'2018-10-08T16:11:50.853' AS DateTime))
INSERT [dbo].[shProductSet] ([SectionGuid], [SectionId], [ProductGuid], [SectionName], [MetaTitle], [ParentId], [SortOrder], [Number], [Inventory], [ItemStatus], [Status], [CreateDate]) VALUES (N'0ba5111a50784c0faaa1029321d421bd', 86, N'd986ac16835a4d62baf61dc2ee45c645', N'Vỏ gối ôm(Set R)', N'/vo-goi-om-set-r-', N'f973ae2ebf50462c91b16287612a88dd', 2, NULL, NULL, NULL, 1, CAST(N'2018-10-08T16:11:20.857' AS DateTime))
INSERT [dbo].[shProductSet] ([SectionGuid], [SectionId], [ProductGuid], [SectionName], [MetaTitle], [ParentId], [SortOrder], [Number], [Inventory], [ItemStatus], [Status], [CreateDate]) VALUES (N'159eb36f4ff248eba5bed908b4770e6d', 70, N'a2597d0247764a6f861846717b5b64c7', N'Chăn đông', N'/chan-dong', N'5f3a45282da64e50b62aea07b0d37749', 1, NULL, NULL, NULL, 1, CAST(N'2018-10-08T10:11:09.703' AS DateTime))
SET IDENTITY_INSERT [dbo].[shProductSet] OFF
SET IDENTITY_INSERT [dbo].[shSale] ON 

INSERT [dbo].[shSale] ([SaleGuid], [SaleId], [SaleDetailGuid], [SaleName], [SaleCode], [Description], [CachTinhGiaTriKhuyenMai], [GiaTri], [StartTime], [EndTime], [DieuKienApDung], [SaleStatus], [UserId], [MetaTitle], [Status], [CreateDate]) VALUES (N'71724757c3b04ae09a59f39a9648d2bb', 7, NULL, N'Chương trình Khuyến mại mùa đông - 2018', N'FALL-2018', N'', 1, N'10', CAST(N'2018-11-01T00:00:00.000' AS DateTime), CAST(N'2018-12-31T00:00:00.000' AS DateTime), 1, 2, 2, NULL, 1, CAST(N'2018-11-03T14:21:25.117' AS DateTime))
SET IDENTITY_INSERT [dbo].[shSale] OFF
SET IDENTITY_INSERT [dbo].[shSaleDetail] ON 

SET IDENTITY_INSERT [dbo].[shSaleDetail] OFF
SET IDENTITY_INSERT [dbo].[shSetSize] ON 

INSERT [dbo].[shSetSize] ([SizeGuid], [SizeId], [ProductGuid], [SectionGuid], [SizeName], [PriceCurrent], [Stuff], [ParentId], [MetaTitle], [Description], [PercentCurrent], [PriceAfterPercents], [Number], [Inventory], [SizeStatus], [SortOrder], [Status], [CreateDate]) VALUES (N'01f2744aa8c149f8b4d7f6f4bff82df1', 116, N'ef92dca418f149a9a8fa95543ecdc7f0', N'd225f93f0f7e45e895aebf27b920c389', N'01 cái - 200 x 220 (cm)', 930000.0000, N'', N'6eabdea75fe347f4915e9d3739152a94', NULL, NULL, NULL, NULL, 0, 0, NULL, NULL, 1, CAST(N'2018-10-23T15:44:25.907' AS DateTime))
INSERT [dbo].[shSetSize] ([SizeGuid], [SizeId], [ProductGuid], [SectionGuid], [SizeName], [PriceCurrent], [Stuff], [ParentId], [MetaTitle], [Description], [PercentCurrent], [PriceAfterPercents], [Number], [Inventory], [SizeStatus], [SortOrder], [Status], [CreateDate]) VALUES (N'04fadefdeb2b43c4aefd0e0e485f860f', 132, N'a2597d0247764a6f861846717b5b64c7', N'5f3a45282da64e50b62aea07b0d37749', N'160 x 200 (cm)', 3800000.0000, N'', NULL, NULL, NULL, NULL, NULL, 12, 11, NULL, NULL, 1, CAST(N'2018-10-08T10:56:55.663' AS DateTime))
INSERT [dbo].[shSetSize] ([SizeGuid], [SizeId], [ProductGuid], [SectionGuid], [SizeName], [PriceCurrent], [Stuff], [ParentId], [MetaTitle], [Description], [PercentCurrent], [PriceAfterPercents], [Number], [Inventory], [SizeStatus], [SortOrder], [Status], [CreateDate]) VALUES (N'053b180d9e86448f9e627acdc31da6fa', 51, N'4c52c9d3ae164a2fa85aae61ef18929e', N'591cdf63f6a44c21865a4b3cdaf58f48', N'150 x 190 x 15 (cm)', 5450000.0000, NULL, NULL, NULL, NULL, NULL, NULL, 7, 7, NULL, NULL, 1, CAST(N'2018-10-06T16:23:13.027' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[shSetSize] OFF
SET IDENTITY_INSERT [dbo].[shSex] ON 

INSERT [dbo].[shSex] ([SexGuid], [SexId], [SexName]) VALUES (N'ae5bf22c-0e6c-45e1-97fa-a3289994c0e1', 1, N'Nam')
INSERT [dbo].[shSex] ([SexGuid], [SexId], [SexName]) VALUES (N'ae5bf22c-0e6c-45e1-97fa-a3289994c0e2', 2, N'Nữ')
SET IDENTITY_INSERT [dbo].[shSex] OFF
SET IDENTITY_INSERT [dbo].[ThongBao] ON 

INSERT [dbo].[ThongBao] ([ThongBaoId], [NoiDungThongBao], [NoiDungCongViec], [LienKet], [OrderGuid], [MaLoaiThongBao], [NguoiThongBaoID], [NguoiNhanThongBaoId], [ThoiGian], [DaXem], [GiaTri]) VALUES (2, N'Thông báo đơn hàng mới', N'Bạn có đơn hàng mới cần xử lý. Vui lòng truy cập hệ thống để xử lý', N'/DanhMuc/Order/Index?s=e71fa38de681499d9cc633c95ca05dfa', N'e71fa38de681499d9cc633c95ca05dfa', N'THONG_BAO_DON_HANG_MOI', 10013, 2, CAST(N'2018-11-05T16:24:34.257' AS DateTime), 1, NULL)
INSERT [dbo].[ThongBao] ([ThongBaoId], [NoiDungThongBao], [NoiDungCongViec], [LienKet], [OrderGuid], [MaLoaiThongBao], [NguoiThongBaoID], [NguoiNhanThongBaoId], [ThoiGian], [DaXem], [GiaTri]) VALUES (3, N'Thông báo đơn hàng mới', N'Bạn có đơn hàng mới cần xử lý. Vui lòng truy cập hệ thống để xử lý', N'/DanhMuc/Order/Index?s=e71fa38de681499d9cc633c95ca05dfa', NULL, N'THONG_BAO_DON_HANG_MOI', 10013, 3, CAST(N'2018-11-05T16:24:56.780' AS DateTime), 0, NULL)
INSERT [dbo].[ThongBao] ([ThongBaoId], [NoiDungThongBao], [NoiDungCongViec], [LienKet], [OrderGuid], [MaLoaiThongBao], [NguoiThongBaoID], [NguoiNhanThongBaoId], [ThoiGian], [DaXem], [GiaTri]) VALUES (4, N'Thông báo đơn hàng cần xử lý', N'Bạn có đơn hàng cần xử lý. Vui lòng truy cập hệ thống để xử lý', N'/DanhMuc/Order/Index?s=e71fa38de681499d9cc633c95ca05dfa', NULL, N'THONG_BAO_DON_HANG', 2, 3, CAST(N'2018-11-05T16:37:07.883' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[ThongBao] OFF
ALTER TABLE [dbo].[LoaiPhieuNhap] ADD  CONSTRAINT [DF_LoaiPhieuNhap_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[LoaiPhieuNhap] ADD  CONSTRAINT [DF_LoaiPhieuNhap_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[qtDepartments] ADD  CONSTRAINT [DF_Departments_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[qtDepartments] ADD  CONSTRAINT [DF_Departments_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[qtPositions] ADD  CONSTRAINT [DF_Positions_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[qtPositions] ADD  CONSTRAINT [DF_Positions_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[qtRoles] ADD  CONSTRAINT [DF_Roles_ParentId]  DEFAULT ((0)) FOR [ParentId]
GO
ALTER TABLE [dbo].[qtRoles] ADD  CONSTRAINT [DF_Roles_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[qtRoles] ADD  CONSTRAINT [DF_Roles_CreatedDete]  DEFAULT (getdate()) FOR [CreatedDete]
GO
ALTER TABLE [dbo].[qtUnits] ADD  CONSTRAINT [DF_qtUnits_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[qtUnits] ADD  CONSTRAINT [DF_qtUnits_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[qtUserRole] ADD  CONSTRAINT [DF_UserRole_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[qtUserRole] ADD  CONSTRAINT [DF_UserRole_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[qtUsers] ADD  CONSTRAINT [DF_User_Sex]  DEFAULT ((1)) FOR [Sex]
GO
ALTER TABLE [dbo].[qtUsers] ADD  CONSTRAINT [DF_User_IsAdmin]  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[qtUsers] ADD  CONSTRAINT [DF_User_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[qtUsers] ADD  CONSTRAINT [DF_User_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[shAboutus] ADD  CONSTRAINT [DF_AboutUs_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shAboutus] ADD  CONSTRAINT [DF_AboutUs_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[shCategory] ADD  CONSTRAINT [DF_Category_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shCategory] ADD  CONSTRAINT [DF_Category_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[shColor] ADD  CONSTRAINT [DF_shColor_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shColor] ADD  CONSTRAINT [DF_shColor_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[shComments] ADD  CONSTRAINT [DF_Comments_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shComments] ADD  CONSTRAINT [DF_Comments_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[shGoodReceiptIsuue] ADD  CONSTRAINT [DF_shGoodReceiptIsuue_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shGoodReceiptIsuue] ADD  CONSTRAINT [DF_shGoodReceiptIsuue_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[shGoodReceiptIsuueDetail] ADD  CONSTRAINT [DF_shGoodReceiptIsuueDetail_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shGoodReceiptIsuueDetail] ADD  CONSTRAINT [DF_shGoodReceiptIsuueDetail_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[shIdeaCustomer] ADD  CONSTRAINT [DF_IdeaCustomer_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shIdeaCustomer] ADD  CONSTRAINT [DF_IdeaCustomer_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[shMembers] ADD  CONSTRAINT [DF_Member_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shMembers] ADD  CONSTRAINT [DF_Member_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[shNews] ADD  CONSTRAINT [DF_News_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shNews] ADD  CONSTRAINT [DF_News_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[shOrder] ADD  CONSTRAINT [DF_shOrder_NgayDat]  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[shOrder] ADD  CONSTRAINT [DF_shCart_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shOrder] ADD  CONSTRAINT [DF_shCart_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[shOrderDetail] ADD  CONSTRAINT [DF_shOrderDetail_NgayDat]  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[shOrderDetail] ADD  CONSTRAINT [DF_shCartName_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shOrderDetail] ADD  CONSTRAINT [DF_shCartName_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[shOrderHistory] ADD  CONSTRAINT [DF_shOrderHistory_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shOrderHistory] ADD  CONSTRAINT [DF_shOrderHistory_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[shPrices] ADD  CONSTRAINT [DF_shPrices_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shPrices] ADD  CONSTRAINT [DF_shPrices_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[shProductImage] ADD  CONSTRAINT [DF_ProductImage_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shProductImage] ADD  CONSTRAINT [DF_ProductImage_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[shProducts] ADD  CONSTRAINT [DF_shProducts_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shProducts] ADD  CONSTRAINT [DF_shProducts_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[shProductSet] ADD  CONSTRAINT [DF_shItems_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shProductSet] ADD  CONSTRAINT [DF_shItems_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[shSale] ADD  CONSTRAINT [DF_shSale_StartTime]  DEFAULT (getdate()) FOR [StartTime]
GO
ALTER TABLE [dbo].[shSale] ADD  CONSTRAINT [DF_shSale_EndTime]  DEFAULT (getdate()) FOR [EndTime]
GO
ALTER TABLE [dbo].[shSale] ADD  CONSTRAINT [DF_shSale_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shSale] ADD  CONSTRAINT [DF_shSale_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[shSaleDetail] ADD  CONSTRAINT [DF_shSaleDetail_StartDate]  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[shSaleDetail] ADD  CONSTRAINT [DF_shSaleDetail_EndDate]  DEFAULT (getdate()) FOR [EndDate]
GO
ALTER TABLE [dbo].[shSaleDetail] ADD  CONSTRAINT [DF_shSaleDetail_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shSaleDetail] ADD  CONSTRAINT [DF_shSaleDetail_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[shSetSize] ADD  CONSTRAINT [DF_shSize_Status_1]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[shSetSize] ADD  CONSTRAINT [DF_shSize_CreateDate_1]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[landDistrict]  WITH CHECK ADD  CONSTRAINT [FK_landDistrict_landProvince] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[landProvince] ([ProvinceId])
GO
ALTER TABLE [dbo].[landDistrict] CHECK CONSTRAINT [FK_landDistrict_landProvince]
GO
ALTER TABLE [dbo].[qtUserRole]  WITH CHECK ADD  CONSTRAINT [FK_qtUserRole_qtDepartments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[qtDepartments] ([DepartmentId])
GO
ALTER TABLE [dbo].[qtUserRole] CHECK CONSTRAINT [FK_qtUserRole_qtDepartments]
GO
ALTER TABLE [dbo].[qtUserRole]  WITH CHECK ADD  CONSTRAINT [FK_qtUserRole_qtPositions] FOREIGN KEY([PositionId])
REFERENCES [dbo].[qtPositions] ([PositionId])
GO
ALTER TABLE [dbo].[qtUserRole] CHECK CONSTRAINT [FK_qtUserRole_qtPositions]
GO
ALTER TABLE [dbo].[qtUserRole]  WITH CHECK ADD  CONSTRAINT [FK_qtUserRole_qtRoles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[qtRoles] ([RoleId])
GO
ALTER TABLE [dbo].[qtUserRole] CHECK CONSTRAINT [FK_qtUserRole_qtRoles]
GO
ALTER TABLE [dbo].[qtUserRole]  WITH CHECK ADD  CONSTRAINT [FK_qtUserRole_qtUnits] FOREIGN KEY([UnitId])
REFERENCES [dbo].[qtUnits] ([UnitId])
GO
ALTER TABLE [dbo].[qtUserRole] CHECK CONSTRAINT [FK_qtUserRole_qtUnits]
GO
ALTER TABLE [dbo].[qtUsers]  WITH CHECK ADD  CONSTRAINT [FK_qtUsers_qtDepartments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[qtDepartments] ([DepartmentId])
GO
ALTER TABLE [dbo].[qtUsers] CHECK CONSTRAINT [FK_qtUsers_qtDepartments]
GO
ALTER TABLE [dbo].[qtUsers]  WITH CHECK ADD  CONSTRAINT [FK_qtUsers_qtPositions] FOREIGN KEY([PositionId])
REFERENCES [dbo].[qtPositions] ([PositionId])
GO
ALTER TABLE [dbo].[qtUsers] CHECK CONSTRAINT [FK_qtUsers_qtPositions]
GO
ALTER TABLE [dbo].[qtUsers]  WITH CHECK ADD  CONSTRAINT [FK_qtUsers_qtUnits] FOREIGN KEY([UnitId])
REFERENCES [dbo].[qtUnits] ([UnitId])
GO
ALTER TABLE [dbo].[qtUsers] CHECK CONSTRAINT [FK_qtUsers_qtUnits]
GO
ALTER TABLE [dbo].[shAboutus]  WITH CHECK ADD  CONSTRAINT [FK_shAboutus_qtUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[qtUsers] ([UserId])
GO
ALTER TABLE [dbo].[shAboutus] CHECK CONSTRAINT [FK_shAboutus_qtUsers]
GO
ALTER TABLE [dbo].[shCategoryImage]  WITH CHECK ADD  CONSTRAINT [FK_shCategoryImage_shCategory] FOREIGN KEY([CategoryGuid])
REFERENCES [dbo].[shCategory] ([CategoryGuid])
GO
ALTER TABLE [dbo].[shCategoryImage] CHECK CONSTRAINT [FK_shCategoryImage_shCategory]
GO
ALTER TABLE [dbo].[shComments]  WITH CHECK ADD  CONSTRAINT [FK_shComments_shMembers] FOREIGN KEY([MemberGuiId])
REFERENCES [dbo].[shMembers] ([MemberGuiId])
GO
ALTER TABLE [dbo].[shComments] CHECK CONSTRAINT [FK_shComments_shMembers]
GO
ALTER TABLE [dbo].[shComments]  WITH CHECK ADD  CONSTRAINT [FK_shComments_shProducts] FOREIGN KEY([ProductGuid])
REFERENCES [dbo].[shProducts] ([ProductGuid])
GO
ALTER TABLE [dbo].[shComments] CHECK CONSTRAINT [FK_shComments_shProducts]
GO
ALTER TABLE [dbo].[shOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_shOrderDetail_shOrder] FOREIGN KEY([OrderGuid])
REFERENCES [dbo].[shOrder] ([OrderGuid])
GO
ALTER TABLE [dbo].[shOrderDetail] CHECK CONSTRAINT [FK_shOrderDetail_shOrder]
GO
ALTER TABLE [dbo].[shOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_shOrderDetail_shProducts] FOREIGN KEY([ProductGuid])
REFERENCES [dbo].[shProducts] ([ProductGuid])
GO
ALTER TABLE [dbo].[shOrderDetail] CHECK CONSTRAINT [FK_shOrderDetail_shProducts]
GO
ALTER TABLE [dbo].[shOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_shOrderDetail_shSetSize] FOREIGN KEY([SizeGuid])
REFERENCES [dbo].[shSetSize] ([SizeGuid])
GO
ALTER TABLE [dbo].[shOrderDetail] CHECK CONSTRAINT [FK_shOrderDetail_shSetSize]
GO
ALTER TABLE [dbo].[shPrices]  WITH CHECK ADD  CONSTRAINT [FK_shPrices_shSize] FOREIGN KEY([SizeGuid])
REFERENCES [dbo].[shSetSize] ([SizeGuid])
GO
ALTER TABLE [dbo].[shPrices] CHECK CONSTRAINT [FK_shPrices_shSize]
GO
ALTER TABLE [dbo].[shProductImage]  WITH CHECK ADD  CONSTRAINT [FK_shProductImage_shProducts] FOREIGN KEY([ProductGuid])
REFERENCES [dbo].[shProducts] ([ProductGuid])
GO
ALTER TABLE [dbo].[shProductImage] CHECK CONSTRAINT [FK_shProductImage_shProducts]
GO
ALTER TABLE [dbo].[shProducts]  WITH CHECK ADD  CONSTRAINT [FK_shProducts_shCategory] FOREIGN KEY([CategoryGuid])
REFERENCES [dbo].[shCategory] ([CategoryGuid])
GO
ALTER TABLE [dbo].[shProducts] CHECK CONSTRAINT [FK_shProducts_shCategory]
GO
ALTER TABLE [dbo].[shProductSet]  WITH CHECK ADD  CONSTRAINT [FK_shSection_shProducts] FOREIGN KEY([ProductGuid])
REFERENCES [dbo].[shProducts] ([ProductGuid])
GO
ALTER TABLE [dbo].[shProductSet] CHECK CONSTRAINT [FK_shSection_shProducts]
GO
ALTER TABLE [dbo].[shSaleDetail]  WITH CHECK ADD  CONSTRAINT [FK_shSaleDetail_shProducts] FOREIGN KEY([ProductGuid])
REFERENCES [dbo].[shProducts] ([ProductGuid])
GO
ALTER TABLE [dbo].[shSaleDetail] CHECK CONSTRAINT [FK_shSaleDetail_shProducts]
GO
ALTER TABLE [dbo].[shSaleDetail]  WITH CHECK ADD  CONSTRAINT [FK_shSaleDetail_shSale1] FOREIGN KEY([SaleGuid])
REFERENCES [dbo].[shSale] ([SaleGuid])
GO
ALTER TABLE [dbo].[shSaleDetail] CHECK CONSTRAINT [FK_shSaleDetail_shSale1]
GO
ALTER TABLE [dbo].[shSetSize]  WITH CHECK ADD  CONSTRAINT [FK_shSize_shSection] FOREIGN KEY([SectionGuid])
REFERENCES [dbo].[shProductSet] ([SectionGuid])
GO
ALTER TABLE [dbo].[shSetSize] CHECK CONSTRAINT [FK_shSize_shSection]
GO
/****** Object:  StoredProcedure [dbo].[DeleteData_shDanhMuc]    Script Date: 11/23/2018 10:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DeleteData_shDanhMuc]
as
begin
	delete from  shProductImage
	delete from  shSale
	delete from  shSaleDetail
	delete from  shPrices
	delete from  shSize
	delete from  shSection
	delete from  shCategory 
	delete from  shNews 

	delete from  shOrderDetail
	delete from  shOrder 
	delete from  shComments
	delete from  shMembers
	delete from  shProducts
	--delete from  shProductImage
	--delete from  shProducts



--	Declare  @id int 
--set @id = 10

--Declare @val nvarchar(50)
--set @val = '9b3303c5-1252-45fe-a1d4-179b3a80f0c6'

--select * from shCategory
--where ParentId = (
--	select CategoryGuid from shCategory
--	where CategoryId = @id
--)

--select * from shProducts 
--where CategoryGuid =  (
--			select CategoryGuid from shCategory
--			where CategoryId = @id
--		)
	

--update shCategory
--set ParentId = @val
--where CategoryId = 
--		(
--			select CategoryId from shCategory
--			where ParentId = (
--							select CategoryGuid from shCategory
--							where CategoryId = @id
--							)

--		)

--update shCategory
--set CategoryGuid = @val
--where CategoryId = @id












end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 là nhập, 2 là xuất' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LoaiPhieuNhap', @level2type=N'COLUMN',@level2name=N'LoaiPhieuNhapXuat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 là giới tính nam, 0 là giới tính nữ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'qtUsers', @level2type=N'COLUMN',@level2name=N'Sex'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'True là Admin, False là nhân viên ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'qtUsers', @level2type=N'COLUMN',@level2name=N'IsAdmin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ký tên ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shAboutus', @level2type=N'COLUMN',@level2name=N'Sign'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vị trí của banner 
+ quy định : 
 - 1 là ảnh của tab trang chủ
 -  2 là tab giới thiệu 
 - 3 là tab sản phẩm 
 - 4 là tab đại lý 
 - 5 là tab bảng giá
 - 6 là tab tin tức sự kiện 
 - 7 tab liên hệ ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shBanner', @level2type=N'COLUMN',@level2name=N'PositionBanner'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thông tin mô tả theo danh mục: ví dụ tham khảo link: https://changagoisonghong.vn/vn/bo-chan-ga-goi-hello-kitty-sh-d18-019.html

Phần mô tả đi kèm: 
- Các sản phẩm trẻ em của May Sông Hồng được sản xuất trên thiết bị hiện đại và giám sát chặt chẽ đảm bảo chất lượng sản phẩm.
- Các sản phẩm trẻ em của May Sông Hồng đều được phun Nano kháng khuẩn, đảm bảo an toàn tuyệt đối cho bà Mẹ và Trẻ em.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shCategory', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người tạo ra bản ghi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shCategory', @level2type=N'COLUMN',@level2name=N'UserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loại ảnh : Ví dụ : Ảnh cấu hình hiển thị cho banner , Ảnh cấu hình hiển thị sản phẩm nổi bật ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shCategoryImage', @level2type=N'COLUMN',@level2name=N'Image'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loại ảnh : Ví dụ : Ảnh cấu hình danh mục nổi bật, Ảnh cấu hình hiển thị danh mục nổi bật ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shCategoryImage', @level2type=N'COLUMN',@level2name=N'UserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thông tin của khách hàng đánh giá' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shComments', @level2type=N'COLUMN',@level2name=N'MemberGuiId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Id sản phẩm được đánh giá' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shComments', @level2type=N'COLUMN',@level2name=N'ProductGuid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên khách hàng đánh giá sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shComments', @level2type=N'COLUMN',@level2name=N'MemberName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày tạo bản ghi ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shComments', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Phiếu Nhập hay phiếu Xuất ( 1 là nhập, 2 là xuất )' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shGoodReceiptIsuue', @level2type=N'COLUMN',@level2name=N'Phieu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã phiếu xuất, nhập kho' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shGoodReceiptIsuue', @level2type=N'COLUMN',@level2name=N'ReceiptIsuueName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'tổng số lượng SKU (Phiên bản) trong phiếu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shGoodReceiptIsuue', @level2type=N'COLUMN',@level2name=N'SKU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên kho nhập - xuất' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shGoodReceiptIsuue', @level2type=N'COLUMN',@level2name=N'TenKho'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loại phiếu : Mua hàng, bán lẻ, bán buôn ...' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shGoodReceiptIsuue', @level2type=N'COLUMN',@level2name=N'LoaiPhieu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã đơn hàng chỉ hiển thị khi phiếu xuất được tạo từ đơn hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shGoodReceiptIsuue', @level2type=N'COLUMN',@level2name=N'MaDonHang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ghi chú trên phiếu. Rê chuột vào biểu tượng sẽ hiển thị ghi chú.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shGoodReceiptIsuue', @level2type=N'COLUMN',@level2name=N'GhiChu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trạng thái của phiếu Nhập - Xuất' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shGoodReceiptIsuue', @level2type=N'COLUMN',@level2name=N'TrangThai'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Phiếu Nhập hay phiếu Xuất ( 1 là nhập, 2 là xuất )' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shGoodReceiptIsuueDetail', @level2type=N'COLUMN',@level2name=N'Phieu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tiêu đề của tin tức' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shNews', @level2type=N'COLUMN',@level2name=N'TitleNew'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mô tả tiêu đề tin tức' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shNews', @level2type=N'COLUMN',@level2name=N'Descriptions'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hình ảnh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shNews', @level2type=N'COLUMN',@level2name=N'ImageFile'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tóm tắt nội dung tin tức' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shNews', @level2type=N'COLUMN',@level2name=N'Summary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nội dung tin tức' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shNews', @level2type=N'COLUMN',@level2name=N'Contents'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tổng tiền của đơn hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shOrder', @level2type=N'COLUMN',@level2name=N'Total'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tình trạng đơn hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shOrder', @level2type=N'COLUMN',@level2name=N'OrderStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cấu hình tài khoản nhân viên được phân quyền' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shOrder', @level2type=N'COLUMN',@level2name=N'UserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lượng mặt hàng ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shOrderDetail', @level2type=N'COLUMN',@level2name=N'Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá tiền của mặt hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shOrderDetail', @level2type=N'COLUMN',@level2name=N'Prices'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thành tiền của mặt hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shOrderDetail', @level2type=N'COLUMN',@level2name=N'Total'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cấu hình tài khoản nhân viên được phân quyền' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shOrderDetail', @level2type=N'COLUMN',@level2name=N'UserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Chất liệu ảnh ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProductImage', @level2type=N'COLUMN',@level2name=N'ProductImageCategory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loại ảnh : Ví dụ : Ảnh cấu hình hiển thị cho banner , Ảnh cấu hình hiển thị sản phẩm nổi bật ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProductImage', @level2type=N'COLUMN',@level2name=N'Image'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'ProductName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đường link sẽ bao gồm luôn cả link của category . Ví dụ: /dem/dem-song-hong-102 : 
số 102 chính là id của sản phẩm, ở đây không dùng Guid mà dùng Id ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'MetaTitle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mô tả sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ảnh đại diện sản phẩm ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'Image'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mô tả Chi tiết sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'Details'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hướng dẫn sử dụng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'UserManual'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lưu thông tin của bộ hoàn chỉnh (Bộ hoàn chỉnh bao gồm)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'CompleteSetInclude'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá sản phẩm hiện tại' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'PriceCurrent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Phần trăm khuyến mại hiện tại ( ví dụ : 10 là 10% = 0.1) ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'PercentCurrent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá tiền sau khuyến mại sau khi trừ ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'PriceAfterPercents'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lượt xem' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'ViewsProduct'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trạng thái sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'ProductStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sản phẩm nổi bật hiển thị trên Carousel' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'TopHot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'sắp xếp' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'SortOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kích thước sản phẩm hiện tại' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'Size'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lượng sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lượng tồn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProducts', @level2type=N'COLUMN',@level2name=N'Inventory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'sắp xếp' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProductSet', @level2type=N'COLUMN',@level2name=N'SortOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lượng sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProductSet', @level2type=N'COLUMN',@level2name=N'Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lượng tồn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProductSet', @level2type=N'COLUMN',@level2name=N'Inventory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trạng thái kích thước' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shProductSet', @level2type=N'COLUMN',@level2name=N'ItemStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nội dung Chương trình khuyến mãi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSale', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N' có 4 cách tính giá trị khuyến mại:
1. Giảm theo % giá trị
2. Giảm theo số tiền
3. Bán giá cố định
4. Giảm theo khoảng giá trị' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSale', @level2type=N'COLUMN',@level2name=N'CachTinhGiaTriKhuyenMai'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá trị giảm tương ứng với cách tính: Là số tiền hoặc số %' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSale', @level2type=N'COLUMN',@level2name=N'GiaTri'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thời gian bắt đầu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSale', @level2type=N'COLUMN',@level2name=N'StartTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thời gian kết thúc' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSale', @level2type=N'COLUMN',@level2name=N'EndTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Điều kiện áp dụng khuyến mại: 
1. Cho tất cả các sản phẩm.
2. Áp dụng theo danh mục
3. Áp dụng theo sản phẩm cụ thể 
 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSale', @level2type=N'COLUMN',@level2name=N'DieuKienApDung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'5 trạng thái: 
1. Chờ xử lý
2. Đang chạy
3. Tạm dừng
4. Kết thúc
5. Gỡ bỏ
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSale', @level2type=N'COLUMN',@level2name=N'SaleStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N' có 4 cách tính giá trị khuyến mại:
1. Giảm theo % giá trị
2. Giảm theo số tiền
3. Bán giá cố định
4. Giảm theo khoảng giá trị' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSaleDetail', @level2type=N'COLUMN',@level2name=N'CachTinhGiaTriKhuyenMai'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá trị giảm tương ứng với cách tính: Là số tiền hoặc số %' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSaleDetail', @level2type=N'COLUMN',@level2name=N'GiaTri'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Điều kiện áp dụng khuyến mại: 
1. Cho tất cả các sản phẩm.
2. Áp dụng theo danh mục
3. Áp dụng theo sản phẩm cụ thể 
 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSaleDetail', @level2type=N'COLUMN',@level2name=N'DieuKienApDung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã cấu hình quy định theo điều kiện áp dụng khuyến mại: 
Có 3 mã cấu hình theo điều kiện:
Điều kiện áp dụng : Tất cả các sản phẩm (1) : mã là TatCa
Điều kiện áp dụng : Theo danh mục (2) : mã là DanhMuc
Điều kiện áp dụng : Theo Sản phẩm (3) : mã là SanPham ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSaleDetail', @level2type=N'COLUMN',@level2name=N'MaCauHinh'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã cấu hình quy định theo điều kiện áp dụng khuyến mại: 
Có 3 mã cấu hình theo điều kiện:
Điều kiện áp dụng : Tất cả các sản phẩm (1) : mã là TatCa có CategoryGuidProductGuid là TatCaSanPham
Điều kiện áp dụng : Theo danh mục (2) : mã là DanhMuc có CategoryGuidProductGuid là CategoryGuid
Điều kiện áp dụng : Theo Sản phẩm (3) : mã là SanPham  có CategoryGuidProductGuid là ProductGuid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSaleDetail', @level2type=N'COLUMN',@level2name=N'CategoryGuidProductGuid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Phần trăm khuyến mại ( ví dụ : 10 là 10% = 0.1)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSaleDetail', @level2type=N'COLUMN',@level2name=N'Percents'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSaleDetail', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá tiền sau khuyến mại sau khi trừ ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSaleDetail', @level2type=N'COLUMN',@level2name=N'PriceAfterPercents'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Khuyến mại phụ đính kèm theo khuyến mại chính' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSaleDetail', @level2type=N'COLUMN',@level2name=N'SaleAttach'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá sản phẩm hiện tại' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSetSize', @level2type=N'COLUMN',@level2name=N'PriceCurrent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Chất liệu của sản phẩm: Ví dụ : Vải Contton, vải TC' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSetSize', @level2type=N'COLUMN',@level2name=N'Stuff'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Phần trăm khuyến mại hiện tại ( ví dụ : 10 là 10% = 0.1), hoặc là số tiền giảm  ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSetSize', @level2type=N'COLUMN',@level2name=N'PercentCurrent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá tiền sau khuyến mại sau khi trừ ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSetSize', @level2type=N'COLUMN',@level2name=N'PriceAfterPercents'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lượng sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSetSize', @level2type=N'COLUMN',@level2name=N'Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lượng tồn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSetSize', @level2type=N'COLUMN',@level2name=N'Inventory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trạng thái kích thước' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSetSize', @level2type=N'COLUMN',@level2name=N'SizeStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'sắp xếp' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSetSize', @level2type=N'COLUMN',@level2name=N'SortOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giới tính' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shSex', @level2type=N'COLUMN',@level2name=N'SexId'
GO
USE [master]
GO
